<div class="teams-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 teams-new-container">
        <h1 class="text-center text-white">チーム登録</h1>
        <%= form_for @team do |f| %>
          <div class="form-group">
            <%= f.label :チーム名, class: 'text-white' %>
            <%= f.text_field :team_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'text-white' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード, class: 'text-white' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :"確認の為もう一度お願いします", class: 'text-white' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit "登録", class: 'btn-block btn-white' %>
        <% end %>

      </div>
    </div>
  </div>
</div>
