<div class="teams-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 sessions-new-container">
        <h1 class="text-center text-white">ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
        <div class="form-group">
             <%= f.label :チーム名, class: "text-white" %>
             <%= f.text_field :team_name, class: "form-control" %>
           </div>

          <div class="form-group">
            <%= f.label :パスワード, class: "text-white" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>

          <%= f.submit "ログイン", class: "btn-block btn-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
