<!DOCTYPE html>
<html>
  <head>
    <title>Scorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="game-new-wrapper" >
      <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for @game do |f| %>
            <h1 class="opponent">
              <%= f.label :'vs :' , class: 'opponent_name' %>
              <%= f.text_field :opponent_name %>
            </h1>
        </div>

        <div class="col-md-12 ">

          <div class="score">
            <h3 class="score">スコア</h3>
            

        <div class="gk_table">
          <p>＜GK＞</p>
          <table class="table table-border" id="score_table">
            <thead>
              <tr>
                  <th></th>
                  <th>選手名</th>
                  <th>阻止率</th>
                  <th></th>
                  <th>総数</th>
                  <th>LW</th>
                  <th>LB</th>
                  <th>CB</th>
                  <th>RB</th>
                  <th>RW</th>
                  <th>PV</th>
                  <th>NM</th>
                  <th>PT</th>
              </tr>
            </thead>
            <tbody>
              <% @player_GK.each do |player_GK| %>
                <% if player_GK.present? %>
                  <tr class="upper">
                      <td rowspan="2"></td>
                      <td rowspan="2">
                        <%= link_to scores_path do %><%= player_GK.name %><% end %>
                      </td>
                    <div class="rejection">
                      <td rowspan="2">
                        <input class="kazu" id="rejection_rate" size="2" value= "0" readonly>%</input>
                      </td>
                    </div>
                      <td>Save</td>
                      <td>
                        <input class="kazu" id="upper_total" size="2" value="0" readonly>
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id='upper_lw' size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_lb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_cb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_rb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_rw" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_pv" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_nm" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_pt" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                       </td>
                  </tr>
                  <tr class="lower">
                      <td>In</td>
                      <td>
                        <input class="kazu" id="lower_total" size="2" value="0" readonly>
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id='lower_lw' size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_lb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_cb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_rb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_rw" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_pv" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_nm" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="lower_pt" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                  </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="cp_table">
            <p>＜CP＞</p>
            <table class="table table-border" id="score_table">
              <thead>
                  <tr>
                      <th></th>
                      <th>選手名</th>
                      <th>決定率</th>
                      <th></th>
                      <th>総数</th>
                      <th>LW</th>
                      <th>LB</th>
                      <th>CB</th>
                      <th>RB</th>
                      <th>RW</th>
                      <th>PV</th>
                      <th>NM</th>
                      <th>PT</th>
                  </tr>
              </thead>

              <tbody>

                <% @player_CP.each do |player_CP| %>
                <% if player_CP.present? %>
                  <tr class="upper">
                      <th rowspan="2"></th>
                      <td rowspan="2"><%= player_CP.name %></td>
                    <div class="rejection-rate">
                      <td rowspan="2">
                        <input class="kazu" id="rejection_rate" size="2" value= "0" readonly>%</input>
                      </td>
                    </div>
                      <td>In</td>
                      <td>
                        <input class="kazu" id="upper_total" size="2" value="0" readonly>
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id='upper_lw' size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_lb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_cb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_rb" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_rw" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_pv" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_nm" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                      </td>
                      <td>
                        <input class="m_btn" type="button" value="－" name="m_btn">
                        <input class="kazu" id="upper_pt" size="2" value="0" readOnly>
                        <input class="p_btn" type="button" value="＋" name="p_btn">
                       </td>
                  </tr>
                    <tr class="lower">
                        <td>Out</td>
                        <td>
                          <input class="kazu" id="lower_total" size="2" value="0" readonly>
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id='lower_lw' size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_lb" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_cb" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_rb" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_rw" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_pv" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_nm" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                        <td>
                          <input class="m_btn" type="button" value="－" name="m_btn">
                          <input class="kazu" id="lower_pt" size="2" value="0" readOnly>
                          <input class="p_btn" type="button" value="＋" name="p_btn">
                        </td>
                    </tr>
                  <% end %>
                <% end %>
                </tbody>
              </table>
          </div>
          <div class="form-group">
            <%= f.label :コメント %>
            <%= f.text_area :description, class: 'form-control' %><br>
          </div>
         </div>

         </div>
         <div class="col-md-4 col-md-offset-4">
          <%= f.submit '保存', class: 'btn btn-black btn-block' %>
        <% end %>
        </div>
      </div>
    </div>

    <script>

      $(function () {
        $(".p_btn").click(function () {

          var score = parseInt($(this).prev().val());
          $(this).prev().val(score + 1);

          // 押されたのは何行目？trタグのrowIndexを求めて、後で使いやすいように-1している
          var tag_tr_index = $(this).parent().parent()[0].rowIndex - 1;
          // console.log(tag_tr_index);

          // 上段（upper）と下段（lower）では、tdのタグのインデックスが異なります
          var lower_offset = 0;
          var upper_offset = 0;

          if($(this).parent().parent().hasClass("lower")) {
            lower_offset = 3;
          } else {
            upper_offset = 3;
          }

          // console.log($(this).parent().hasClass("lower"));

          // LW
          var lw = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (5 - lower_offset) + ") > input:eq(1)").val());
          // LB
          var lb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (6 - lower_offset) + ") > input:eq(1)").val());
          // CB
          var cb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (7 - lower_offset) + ") > input:eq(1)").val());
          // RB
          var rb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (8 - lower_offset) + ") > input:eq(1)").val());
          // RW
          var rw = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (9 - lower_offset) + ") > input:eq(1)").val());
          // PV
          var pv = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (10 - lower_offset) + ") > input:eq(1)").val());
          // NM
          var nm = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (11 - lower_offset) + ") > input:eq(1)").val());
          // PT
          var pt = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (12 - lower_offset) + ") > input:eq(1)").val());

          // Todal計算・更新
          var total = lw + lb + cb + rb + rw + pv + nm + pt ;
          $("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (1 + upper_offset) + ") > input:eq(0)").val(total);

          // 阻止率計算・更新
          /*
           * ここに阻止率の計算ロジックを入れる
           */

        });
      });

      $(function () {
        $(".m_btn").click(function(){
          var score = parseInt($(this).next().val());

          if (score -1 < 0) {
            score = 0;
          } else {
            $(this).next().val(score - 1);
          }
          // 押されたのは何行目？trタグのrowIndexを求めて、後で使いやすいように-1している
          var tag_tr_index = $(this).parent().parent()[0].rowIndex - 1;
          // console.log(tag_tr_index);

          // 上段（upper）と下段（lower）では、tdのタグのインデックスが異なります
          var lower_offset = 0;
          var upper_offset = 0;

          if($(this).parent().parent().hasClass("lower")) {
            lower_offset = 3;
          } else {
            upper_offset = 3;
          }

          // console.log($(this).parent().hasClass("lower"));


          // LW
          var lw = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (5 - lower_offset) + ") > input:eq(1)").val());
          // LB
          var lb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (6 - lower_offset) + ") > input:eq(1)").val());
          // CB
          var cb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (7 - lower_offset) + ") > input:eq(1)").val());
          // RB
          var rb = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (8 - lower_offset) + ") > input:eq(1)").val());
          // RW
          var rw = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (9 - lower_offset) + ") > input:eq(1)").val());
          // PV
          var pv = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (10 - lower_offset) + ") > input:eq(1)").val());
          // NM
          var nm = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (11 - lower_offset) + ") > input:eq(1)").val());
          // PT
          var pt = parseInt($("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (12 - lower_offset) + ") > input:eq(1)").val());

          // Todal計算・更新
          var total = lw + lb + cb + rb + rw + pv + nm + pt ;
          $("table#score_table > tbody > tr:eq(" + tag_tr_index + ") > td:eq(" + (1 + upper_offset) + ") > input:eq(0)").val(total);
          /*
           * ここに阻止率の計算ロジックを入れます
           */

           // 阻止率計算・更新
           /*
            * ここに阻止率の計算ロジックを入れます
            */
        });
      });

    </script>


  </body>
</html>
