<!DOCTYPE html>
<html>
  <head>
    <title>Scorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div class="game-new-wrapper" >
  <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @game do |f| %>
        <h1 class="opponent">
          <%= f.label :'vs :' , class: 'opponent_name' %>
          <%= f.text_field :opponent_name %>
        </h1>
    </div>

      <div class="col-md-12 ">

        <div class="score">
          <h3 class="score">スコア</h3><br>

        <p>＜GK＞</p>
        <table class="table table-border">
          <thead>
              <tr>
                  <th></th>
                  <th>選手名</th>
                  <th>阻止率</th>
                  <th></th>
                  <th>総数</th>
                  <th>LW</th>
                  <th>LB</th>
                  <th>CB</th>
                  <th>RB</th>
                  <th>RW</th>
                  <th>PV</th>
                  <th>NM</th>
                  <th>PT</th>
              </tr>
          </thead>
          <tbody>

            <% @player_GK.each do |player_GK| %>
            <% if player_GK.present? %>
              <tr>
                  <th rowspan="2"></th>
                  <td rowspan="2"><%= player_GK.name %></td>
                <div class="rejection-rate">
                  <td rowspan="2"></td>
                </div>
                  <td>Save</td>
                  <td>
                    <input class="kazu" id="<%= player_GK.id %>SaveTotal" size="2" value="0" readonly>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>' , 'save-lw')">
                    <input class="kazu" id='<%= player_GK.id %>save-lw' size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>' , 'save-lw')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-lb')">
                    <input class="kazu" id="<%= player_GK.id %>save-lb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-lb')">
                    </form>
                  </td>
                  <td>
                    <form name="form1" >
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-cb')">
                    <input class="kazu" id="<%= player_GK.id %>save-cb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-cb')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-rb')">
                    <input class="kazu" id="<%= player_GK.id %>save-rb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-rb')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-rw')">
                    <input class="kazu" id="<%= player_GK.id %>save-rw" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-rw')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-pv')">
                    <input class="kazu"  id="<%= player_GK.id %>save-pv" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-pv')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-nm')">
                    <input class="kazu" id="<%= player_GK.id %>save-nm" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-nm')">
                    </form>
                  </td>
                  <td>
                    <form name="form1">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'save-pt')">
                    <input class="kazu" id="<%= player_GK.id %>save-pt" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'save-pt')">
                    </form>
                   </td>
              </tr>
              <tr>
                  <td>In</td>
                  <td>
                    <input class="kazu" id="<%= player_GK.id %>InTotal" size="2" value="0" readonly>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-lw')">
                    <input class="kazu" id='<%= player_GK.id %>in-lw' size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-lw')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-lb')">
                    <input class="kazu" id="<%= player_GK.id %>in-lb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-lb')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-cb')">
                    <input class="kazu" id="<%= player_GK.id %>in-cb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-cb')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-rb')">
                    <input class="kazu" id="<%= player_GK.id %>in-rb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-rb')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-rw')">
                    <input class="kazu" id="<%= player_GK.id %>in-rw" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-rw')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-pv')">
                    <input class="kazu" id="<%= player_GK.id %>in-pv" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-pv')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-nm')">
                    <input class="kazu" id="<%= player_GK.id %>in-nm" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-nm')">
                    </form>
                  </td>
                  <td>
                    <form name="form2">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_GK.id %>', 'in-pt')">
                    <input class="kazu" id="<%= player_GK.id %>in-pt" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_GK.id %>', 'in-pt')">
                    </form>
                  </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

        <p>＜CP＞</p>
        <table class="table table-border">
          <thead>
              <tr>
                  <th></th>
                  <th>選手名</th>
                  <th>決定率</th>
                  <th></th>
                  <th>総数</th>
                  <th>LW</th>
                  <th>LB</th>
                  <th>CB</th>
                  <th>RB</th>
                  <th>RW</th>
                  <th>PV</th>
                  <th>NM</th>
                  <th>PT</th>
              </tr>
          </thead>

          <tbody>

            <% @player_CP.each do |player_CP| %>
            <% if player_CP.present? %>
              <tr>
                  <th rowspan="2"></th>
                  <td rowspan="2"><%= player_CP.name %></td>
                <div class="rejection-rate">
                  <td rowspan="2"></td>
                </div>
                  <td>In</td>
                  <td>#</td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-lw')">
                    <input class="kazu" id="<%=player_CP.id %>in-lw" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-lw')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-lb')">
                    <input class="kazu" id="<%= player_CP.id %>in-lb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-lb')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-cb')">
                    <input class="kazu" id="<%= player_CP.id %>in-cb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-cb')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-rb')">
                    <input class="kazu" id="<%= player_CP.id %>in-rb" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-rb')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-rw')">
                    <input class="kazu" id="<%= player_CP.id %>in-rw" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-rw')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-pv')">
                    <input class="kazu" id="<%= player_CP.id %>in-pv" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-pv')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-nm')">
                    <input class="kazu" id="<%= player_CP.id %>in-nm" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-nm')">
                    </form>
                  </td>
                  <td>
                    <form name="form3">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'in-pt')">
                    <input class="kazu" id="<%= player_CP.id %>in-pt" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'in-pt')">
                    </form>
                   </td>
              </tr>
              <tr>
                  <td>Out</td>
                  <td>#</td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-lw')">
                    <input class="kazu" id='<%= player_CP.id %>out-lw' size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-lw')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-lb')">
                    <input class="kazu" id="<%= player_CP.id %>out-lb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-lb')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-cb')">
                    <input class="kazu" id="<%= player_CP.id %>out-cb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-cb')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-rb')">
                    <input class="kazu" id="<%= player_CP.id %>out-rb" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-rb')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-rw')">
                    <input class="kazu" id="<%= player_CP.id %>out-rw" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-rw')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-pv')">
                    <input class="kazu" id="<%= player_CP.id %>out-pv" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-pv')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-nm')">
                    <input class="kazu" id="<%= player_CP.id %>out-nm" size="2" value="0" name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-nm')">
                    </form>
                  </td>
                  <td>
                    <form name="form4">
                    <input type="button" value="－" name="m_btn" onclick="countMinus('<%= player_CP.id %>', 'out-pt')">
                    <input class="kazu" id="<%= player_CP.id %>out-pt" size="2" value="0"  name="cnt_txt" readOnly>
                    <input type="button" value="＋" name="p_btn" onclick="countPlus('<%= player_CP.id %>', 'out-pt')">
                    </form>
                  </td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>

          </div>

          <div class="form-group">
            <%= f.label :コメント %>
            <%= f.text_area :description, class: 'form-control' %><br>
          </div>
         </div>

         </div>
         <div class="col-md-4 col-md-offset-4">
          <%= f.submit '保存', class: 'btn btn-black btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    function countPlus(player, element) {
	    var elementFullName = "#" + player + element;
	    var strKazu = $(elementFullName).val();
	    var intKazu = parseInt(strKazu);
	    $(elementFullName).val(intKazu + 1);

      var totalFullName = '#' + player + 'SaveTotal'
      var strSaveTotal = $(totalFullName).val();
      var intSaveTotal = parseInt(strSaveTotal);
      $(totalFullName).val(intSaveTotal +1);
    }

    function countMinus(player, element) {
      var min = 0;
      var elementFullName = "#" + player + element ;
      var strKazu = $(elementFullName).val();
      var intKazu = parseInt(strKazu);

      if (intKazu -1 < 0) {
        intKazu = 0;
      } else {
        intKazu --;

        var totalFullName = '#' + player + 'SaveTotal'
        var strSaveTotal = $(totalFullName).val();
        var intSaveTotal = parseInt(strSaveTotal);
        $(totalFullName).val(intSaveTotal -1);
      }

      $(elementFullName).val(intKazu) ;
    }
  </script>

</body>
</html>
