<div class="game-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">選手登録</h1>
        <%= form_for @player do |f| %>
          <div class="form-group">
            <%= f.label :"名前", class: "text-black" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :"ポジション （選択してください）　　", class: "text-black" %><br>
             <%= f.select :position, [["CP", "CP"], ["GK", "GK"]],class: 'form-control' %>
          </div>

          <%= f.submit '登録', class: 'btn btn-black btn-block' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
